<div class="w-100 flex justify-content-between align-items-center">
  <div routerLink="/" class="flex align-items-center logo-container">
    <img class="logo" src="/assets/euro.svg" alt="" />
    <h2 *ngIf="!(isHandset$ | async)">How much left</h2>
  </div>
  <ul class="unstyled">
    <li>
      <button nbButton (click)="switchTheme()">
        <nb-icon [icon]="icon"></nb-icon>
      </button>
    </li>
    <li>
      <button nbButton routerLink="/login">
        {{ label }}
      </button>
    </li>
  </ul>
</div>
