:host {
  width: 100%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.unstyled {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  li {
    margin: 0.3rem;
  }
}

h2 {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.logo-container {
  cursor: pointer;

  &:active,
  &:focus {
    outline: none;
  }
}
.logo {
  // object-fit: scale-down;
  width: 3rem;
  margin-right: 0.6rem;

  &:active,
  &:focus {
    outline: none;
  }
}
