.content {
  width: 100%;
  padding: 0 20%;
  font-size: 4rem;
}

.settings {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  * {
    padding: 1rem 0;
  }
}

.text-center {
  text-align: center;
}

input {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  * {
    text-align: center;
  }
  .amounts {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 900px) {
  .content {
    padding: 0;
  }

  .flex {
    * {
      flex: 1 1 100%;
    }
  }
}
