<div class="settings">
  <button
    nbButton
    outline
    status="success"
    type="button"
    (click)="calculate(amountLeft.value)"
  >
    Calculate
  </button>
  <nb-toggle
    labelPosition="right"
    (change)="calculate(amountLeft.value)"
    [(checked)]="doNotCountToday"
  >
    Do not count today
  </nb-toggle>
</div>
<input
  #amountLeft
  type="number"
  status="info"
  nbInput
  fullWidth
  (keyup)="calculate(amountLeft.value)"
  (keyup.enter)="save()"
/>
<div class="text-center">
  <p>{{ nextPayDay.toDateString() }} ({{ differenceInDays() }} days left)</p>
  <p *ngIf="totalAmountLeft > 0">
    You can spend {{ averageToSpendPerDay.toFixed(2) }}&nbsp;&euro; per day
  </p>
</div>

<div *ngIf="auth.authState | async as user" class="flex">
  <div class="operations">
    <button
      class="save-button"
      [disabled]="!canSave"
      nbButton
      status="success"
      (click)="save()"
    >
      Save
    </button>
    <button
      class="pop-button"
      [disabled]="!canPop"
      nbButton
      status="danger"
      (click)="pop()"
    >
      Pop
    </button>
  </div>
  <app-plot></app-plot>
</div>
