.content {
  width: 100%;
  padding: 0 20%;
}
.settings {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  * {
    padding: 1rem 0;
  }
}

input {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

@media screen and (max-width: 900px) {
  .content {
    padding: 0;
  }
}
