main {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    text-align: center;

    .google-login {
      height: 3rem;

      img {
        height: 100%;
        margin-right: 0.3rem;
      }
    }
  }
}

.preferences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .pay-day {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
}
